---
import { Badge } from "@/components/ui/badge";

type BadgeProps = { icon: string; name: string };
type Props = { badges: BadgeProps[]; i: number };

const { badges, i } = Astro.props;
---

<ul class="flex flex-wrap gap-x-1.5 gap-y-2 transition-colors">
  {
    badges.map(({ icon, name }, index) => (
      <li>
        <Badge
          variant={index > i ? "secondary" : "default"}
          className="gap-1 text-nowrap"
        >
          <iconify-icon icon={icon} />
          {name}
        </Badge>
      </li>
    ))
  }
</ul>
