---
import { Link } from "@kobalte/core/link";

const footerList = [
  {
    url: "https://www.cloudflare.com/",
    icon: "simple-icons:cloudflare",
    label: "Cloudflare",
  },
  {
    url: "https://astro.build/",
    icon: "simple-icons:astro",
    label: "Astro",
  },
  {
    url: "https://www.solidjs.com/",
    icon: "simple-icons:solid",
    label: "Solid",
  },
  {
    url: "https://www.radix-ui.com/",
    icon: "simple-icons:radixui",
    label: "Radix UI",
  },
  {
    url: "https://unocss.dev/",
    icon: "simple-icons:unocss",
    label: "UnoCSS",
  },
  {
    url: "https://shadcn-solid.com/",
    icon: "simple-icons:shadcnui",
    label: "Shadcn Solid",
  },
];
---

<h3 class="mx-auto my-4 w-fit text-sm font-medium font-title sm:text-base">
  Made With:
</h3>
<div
  class="grid grid-cols-3 mx-auto w-fit gap-x-5 gap-y-3 border border-transparent rounded-3xl px-6 py-3 text-xl transition sm:(flex gap-6 bg-secondary-foreground/10 shadow-lg shadow-primary/25 backdrop-blur-sm backdrop-opacity-90)"
>
  {
    footerList.map(({ url, label, icon }) => (
      <Link
        class="text-orange-12 transition-all duration-300 hover:(scale-150 sm:mx-2)"
        href={url}
        target="_blank"
        rel="noreferrer"
        aria-label={label}
      >
        <iconify-icon icon={icon} />
      </Link>
    ))
  }
</div>
