---
import { Link } from "@kobalte/core/link";

const footerList = [
  {
    url: "https://www.cloudflare.com/",
    icon: "simple-icons:cloudflare",
    label: "Cloudflare",
  },
  {
    url: "https://astro.build/",
    icon: "simple-icons:astro",
    label: "Astro",
  },
  {
    url: "https://www.solidjs.com/",
    icon: "simple-icons:solid",
    label: "Solid",
  },
  {
    url: "https://www.radix-ui.com/",
    icon: "simple-icons:radixui",
    label: "Radix UI",
  },
  {
    url: "https://unocss.dev/",
    icon: "simple-icons:unocss",
    label: "UnoCSS",
  },
  {
    url: "https://ui.shadcn.com/",
    icon: "simple-icons:shadcnui",
    label: "Shadcn UI",
  },
];
---

<h3 class="mx-auto my-4 w-fit text-sm font-medium font-title sm:text-base">
  Made With:
</h3>
<div
  class="grid grid-cols-3 mx-auto w-fit gap-x-5 gap-y-3 border border-transparent rounded-3xl px-6 py-3 text-xl shadow-primary/25 transition sm:(flex gap-6 bg-[#1B1A17]/10 shadow-lg backdrop-blur-sm backdrop-opacity-90 dark:bg-[#E8E2D9]/10)"
>
  {
    footerList.map(({ url, label, icon }) => (
      <Link
        href={url}
        target="_blank"
        rel="noreferrer"
        aria-label={label}
        class="text-[#462100] transition-all duration-300 hover:(scale-150 sm:mx-2) dark:text-[#FFE0C2]"
      >
        <iconify-icon icon={icon} />
      </Link>
    ))
  }
</div>
