---
import { Link } from "@kobalte/core/link";

const footerList = [
	{
		url: "https://astro.build/",
		icon: "simple-icons:astro",
		label: "Astro",
	},
	{
		url: "https://www.solidjs.com/",
		icon: "simple-icons:solid",
		label: "Solid",
	},
	{
		url: "https://unocss.dev/",
		icon: "simple-icons:unocss",
		label: "UnoCSS",
	},
	{
		url: "https://ui.shadcn.com/",
		icon: "simple-icons:shadcnui",
		label: "Shadcn UI",
	},
];
---

<h3 class="mx-auto my-3 w-fit font-medium font-title">made with:</h3>

<div
	class="mx-auto w-fit flex gap-6 rounded-3xl bg-secondary-foreground/12.5 px-8 py-3 text-2xl shadow-lg shadow-primary/25 backdrop-blur-sm backdrop-opacity-90"
>
	{
		footerList.map(({ url, label, icon }) => (
			<Link
				class="text-orange-12 transition-all duration-300 hover:(scale-150 sm:mx-2)"
				href={url}
				target="_blank"
				rel="noreferrer"
				aria-label={label}
			>
				<iconify-icon icon={icon} />
			</Link>
		))
	}
</div>

<div
	class="absolute inset-x-0 bottom-6 mx-auto w-fit flex gap-3 text-[7.25rem] -z-10"
>
	<iconify-icon
		class="text-[#FFDE17] transition-transform duration-500 -group-hover/footer:(translate-x-6 rotate-12)"
		icon="fluent:triangle-32-filled"></iconify-icon>
	<iconify-icon class="text-[#21409A]" icon="fluent:circle-32-filled"
	></iconify-icon>
	<iconify-icon
		class="text-[#BE1E2D] transition-transform duration-500 group-hover/footer:(translate-x-6 rotate-12)"
		icon="fluent:square-32-filled"></iconify-icon>
</div>

<style>
	h3 {
		color: color(display-p3 0.988 0.992 1 / 0.937);
	}
</style>
