---
import { Link } from "@/components/ui/link";

const footerList = [
  {
    url: "https://www.cloudflare.com/",
    icon: "simple-icons:cloudflare",
    label: "Cloudflare",
  },
  {
    url: "https://astro.build/",
    icon: "simple-icons:astro",
    label: "Astro",
  },
  {
    url: "https://www.solidjs.com/",
    icon: "simple-icons:solid",
    label: "Solid",
  },
  {
    url: "https://www.radix-ui.com/",
    icon: "simple-icons:radixui",
    label: "Radix UI",
  },
  {
    url: "https://unocss.dev/",
    icon: "simple-icons:unocss",
    label: "UnoCSS",
  },
  {
    url: "https://ui.shadcn.com/",
    icon: "simple-icons:shadcnui",
    label: "Shadcn UI",
  },
];
---

<h3
  class="mx-auto my-4 w-fit text-center text-lg font-medium font-title transition-colors"
>
  Made With:
</h3>
<div
  class="grid grid-cols-3 mx-auto w-fit gap-x-5 gap-y-3 border border-transparent rounded-2xl px-5 py-3 shadow-primary/25 sm:(flex gap-6 bg-zinc-900/10 text-xl shadow-lg backdrop-blur-sm backdrop-opacity-90 dark:bg-zinc-50/10)"
>
  {
    footerList.map(({ url, label, icon }) => (
      <Link
        href={url}
        target="_blank"
        rel="noreferrer"
        aria-label={label}
        class="place-self-center transition-all duration-300 hover:(scale-150 sm:mx-2)"
      >
        <iconify-icon icon={icon} />
      </Link>
    ))
  }
</div>
