---
import { BentoIntro } from "@/components/bento-intro";
---

<h1
  class="mx-auto my-10 w-fit animate-fade-in from-[#ff5858] to-[#f09819] bg-gradient-to-r bg-clip-text p-2 text-3xl text-transparent font-650 tracking-wide font-title transition-colors duration-700 dark:from-[#FF8008] dark:to-[#FFC837] sm:text-5xl"
>
  Hi, I'm Jasper!
</h1>

<BentoIntro />
