---
import { TextGenerateEffect } from "@/components/text-generate-effect";
import { BentoIntro } from "@/components/bento-intro";

const openingMessage = "Welcome! 你 好!";
---

<h1
  class="mx-auto my-10 w-fit from-indigo-700 to-purple-700 bg-gradient-to-r bg-clip-text p-2 text-center text-3xl font-bold tracking-wide font-welcome transition-all dark:from-indigo-400 dark:to-purple-400 sm:text-5xl"
>
  <TextGenerateEffect words={openingMessage} client:idle />
  <span class="sr-only">{openingMessage}</span>
</h1>
<BentoIntro />
