---
import BentoIntro from "./BentoIntro.astro";
---

<h1
  class="mx-auto my-10 w-fit animate-fade-in from-[hsl(0,100%,67%)] to-[hsl(35,88%,52%)] bg-gradient-to-r bg-clip-text p-2 text-4xl text-transparent font-650 tracking-wide font-title transition-colors duration-700 dark:from-[hsl(29,100%,52%)] dark:to-[hsl(44,100%,61%)] sm:text-5xl"
>
  Hi, I'm Jasper!
</h1>

<BentoIntro />
