---
import BentoIntro from "./BentoIntro.astro";
---

<h1
  class="mx-auto my-10 w-fit animate-fade-in from-primary-hover to-amber-10 bg-gradient-to-r bg-clip-text p-2 text-4xl text-transparent font-650 tracking-wide font-title sm:text-5xl"
>
  Hi, I'm Jasper!
</h1>

<BentoIntro />
