---
import { DarkModeToggle } from "@/components/dark-mode-toggle";
import { buttonVariants } from "@/components/ui/button-variants";
import { Separator } from "@/components/ui/separator";

const { pathname } = Astro.url;
const isActive = (href: string) =>
  href === pathname || href === pathname.replace(/\/$/, "");

type NavListType = {
  href: string;
  icon: string;
  label: string;
};

const navList: NavListType[] = [
  { href: "/", icon: "carbon:home", label: "Home" },
  { href: "/projects", icon: "carbon:devices-apps", label: "Projects" },
  { href: "/resume", icon: "carbon:document-view", label: "Resume" },
];
---

<nav
  class="my-5 h-9 flex place-content-center gap-2 font-mono sm:my-10 sm:mr-10 sm:justify-end"
>
  {
    navList.map(({ href, icon, label }) => (
      <>
        <a
          href={href}
          class:list={[
            buttonVariants({ variant: "ghost" }),
            { active: isActive(href) },
            "[&.active]:animate-swing [&.active]:animate-delay-150 sm:text-base [&.active]:font-semibold",
          ]}
        >
          <iconify-icon icon={icon} class="mr-1.5 text-lg" />
          {label}
        </a>
        <Separator orientation="vertical" />
      </>
    ))
  }
  <div class="mx-4 h-9 w-9">
    <DarkModeToggle client:only="react" transition:persist />
  </div>
</nav>
