---
import { Image } from "astro:assets";
import { Link } from "@kobalte/core/link";

import { Button } from "@/components/ui/button";
import notFound from "@/images/404NotFound.png";
---

<div class="mx-auto w-fit text-center space-y-8">
  <h1 class="text-2xl text-[#FFA057] font-semibold font-mono sm:text-3xl">
    <span class="text-3xl sm:text-5xl">
      <iconify-icon icon="carbon:number-4"></iconify-icon>
      <iconify-icon icon="carbon:number-0"></iconify-icon>
      <iconify-icon icon="carbon:number-4"></iconify-icon>
    </span>
    <br />
    Not Found
  </h1>

  <Image
    class="mx-auto w-sm sm:w-md"
    src={notFound}
    alt="404 Not Found"
    title="Logo by @sawaratsuki1004"
    loading="eager"
    format="avif"
  />

  <Button as={Link} href="/" size="lg" class="font-mono md:text-xl">cd ~</Button
  >
</div>
