---
import { Picture } from "astro:assets";

import { ButtonToHome } from "@/components/not-found-component";
import notFound from "@/images/404NotFound.avif";
---

<div class="m-auto w-full place-content-center text-center space-y-8">
  <h1 class="text-2xl font-mono sm:text-3xl">
    <span class="text-3xl sm:text-5xl">
      <iconify-icon icon="carbon:number-4"></iconify-icon><iconify-icon
        icon="carbon:number-0"></iconify-icon><iconify-icon
        icon="carbon:number-4"></iconify-icon>
    </span>
    <br />
    Not Found
  </h1>
  <div>
    <Picture
      class="mx-auto w-96 sm:w-md"
      src={notFound}
      alt="404 Not Found"
      title="Logo by @sawaratsuki1004"
      loading="eager"
      formats={["avif", "webp"]}
    />
  </div>
  <ButtonToHome />
</div>
