---
import { BentoProjects } from "@/components/bento-projects";
---

<h1
  class="mx-auto my-10 w-fit animate-fade-in from-[#242424] to-[#7a6c67] bg-gradient-to-r bg-clip-text p-2 text-3xl text-transparent font-bold tracking-wide transition-colors duration-700 dark:from-[#859398] dark:to-[#DBDBDB] sm:text-5xl"
>
  Projects
</h1>
<BentoProjects />
