---
import { BentoProjects } from "@/components/bento-projects";
---

<h1
  class="mx-auto my-8 w-fit from-[#DBDBDB] to-[#8e9eab] bg-gradient-to-r bg-clip-text p-4 text-center text-3xl text-transparent font-bold tracking-wide invert transition duration-700 dark:from-[#8e9eab] dark:to-[#DBDBDB] sm:text-5xl dark:invert-0"
>
  Projects
</h1>
<BentoProjects />
