---
import Resume from "@/components/Resume.astro";
import { BentoProjects } from "@/components/bento-projects";
import { ProjectTabs } from "@/components/project-tabs";
---

<h1
  class="mx-auto my-10 w-fit animate-fade-in from-[#242424] to-[#7a6c67] bg-gradient-to-r bg-clip-text p-2 text-3xl text-transparent font-650 tracking-wide font-title transition-colors duration-700 dark:from-[#859398] dark:to-[#DBDBDB] sm:text-5xl"
>
  Projects
</h1>

<ProjectTabs client:load>
  <BentoProjects slot="project" />
  <Resume slot="resume" />
</ProjectTabs>
