---
import { Link } from "@kobalte/core/link";

import { Button } from "@/components/ui/button";

type LinkProps = { repo: string; app: string };
type Props = { links: LinkProps };

const { links } = Astro.props;

const linksArray = [
	{
		href: links.repo,
		icon: "carbon:repo-source-code",
		label: "Browse the Repository",
	},
	{
		href: links.app,
		icon: "carbon:application",
		label: "Explore the App",
	},
];
---

<div class="h-full flex flex-col p-4 pb-0">
	<div class="m-auto text-sm leading-6 space-y-5">
		<slot />
	</div>

	<div class="justify-self-end pt-8">
		{
			linksArray.map(({ href, icon, label }) => (
				<Button
					class="gap-x-1 pl-0"
					variant="link"
					size="lg"
					as={Link}
					href={href}
					target="_blank"
					rel="noopener"
				>
					<iconify-icon class="text-lg" icon={icon} />
					{label}
				</Button>
			))
		}
	</div>
</div>
