---
import { Link } from "@kobalte/core/link";

import BentoProjects from "@/components/BentoProjects.astro";
import { Button } from "@/components/ui/button";

const pdf = "https://storage.jasperteo.com/jasperCV.pdf";
---

<h1
	class="mx-auto my-10 w-fit animate-fade-in from-shadow to-foreground bg-gradient-to-r bg-clip-text p-2 text-4xl text-transparent font-650 tracking-wide font-title sm:text-5xl"
>
	Projects
</h1>

<div class="mx-auto my-8 w-fit">
	<Button
		class="gap-x-2 text-base duration-300 hover:(scale-105 shadow-md)"
		variant="secondary"
		as={Link}
		href={pdf}
		target="_blank"
		rel="noopener"
	>
		<iconify-icon icon="carbon:launch" class="text-xl"></iconify-icon>
		View Resume
	</Button>
</div>

<BentoProjects />
