---
import { ResumePDF } from "@/components/resume-PDF";
import { buttonVariants } from "@/components/ui/button-variants";

const PDF = "https://storage.jasperteo.com/jasperCV.pdf";
---

<div class="mx-auto my-8 w-fit">
  <a
    download="jasperCV.pdf"
    href={PDF}
    class:list={[
      buttonVariants({ variant: "outline", size: "lg" }),
      "text-xl hover:animate-rubber-band",
    ]}
  >
    <iconify-icon inline icon="carbon:generate-pdf" class="mr-3"></iconify-icon>
    Download
  </a>
</div>
<article class="mx-auto aspect-[1/sqrt(2)] max-w-[595px]">
  <ResumePDF PDF={PDF} client:only="react" />
</article>
