---
import { ResumePDF } from "@/components/resume-PDF";
import { buttonVariants } from "@/components/ui/button-variants";

const PDF = "https://storage.jasperteo.com/jasperCV.pdf";
---

<div class="mx-auto mb-8 w-fit">
  <a
    href={PDF}
    target="_blank"
    rel="noopener"
    class:list={[
      buttonVariants({ variant: "default", size: "lg" }),
      "md:text-xl hover:animate-rubber-band",
    ]}
  >
    <iconify-icon icon="lucide:external-link" class="mr-3 md:text-2xl"
    ></iconify-icon>
    Open PDF
  </a>
</div>
<article class="mx-auto aspect-[1/sqrt(2)] max-w-[595px]">
  <ResumePDF PDF={PDF} client:only="react" />
</article>
