:root {
  font-synthesis: none;
  color-scheme: light dark;
  background-color: light-dark(rgb(244 244 245), rgb(24 24 27));
  color: light-dark(rgb(24 24 27), rgb(244 244 245));
}

iconify-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}
