---
import { Separator } from "@/components/ui/separator";
---

<script is:inline>
  const useTheme = () => {
    const themeValues = ["dark", "light", "system"];
    const defaultTheme = "system";
    const storageKey = "theme";
    const theme = localStorage.getItem(storageKey) ?? defaultTheme;

    if (theme !== "dark" && theme !== "light") {
      theme = window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light";
    }
    document.documentElement.classList.remove(...themeValues);
    document.documentElement.classList.add(theme);
  };
  useTheme();
</script>

<div
  class="relative min-w-dvw bg-zinc-50 p-8 font-sans antialiased transition-colors min-h-dvh dark:bg-zinc-900"
>
  <div class="mx-auto min-w-80 lg:max-w-5xl">
    <header>
      <slot name="navbar" />
    </header>

    <Separator className="my-4" />

    <main class="mb-40">
      <slot name="outlet" />
    </main>

    <footer class="absolute inset-x-8 bottom-8 mx-auto min-w-80 lg:max-w-5xl">
      <slot name="footer" />
    </footer>
  </div>
</div>
