---
import { cn } from "@/utils/utils";

type Props = {
  className?: string;
  title?: string;
  icon?: string;
};

const { className, title, icon } = Astro.props;
---

<section
  class={cn(
    "group/bento flex flex-col justify-between border border-border rounded-3xl bg-card p-4 text-card-foreground shadow shadow-shadow transition-shadow duration-300 space-y-4 hover:shadow-2xl",
    className
  )}
>
  <slot name="content" />

  <div
    class="transition-transform duration-300 group-hover/bento:translate-x-2"
  >
    <span
      class="text-2xl text-ring-alt transition-colors duration-300 group-hover/bento:text-primary-hover"
    >
      <iconify-icon icon={icon}></iconify-icon>
    </span>

    <h2 class="mb-3 text-lg font-bold">{title}</h2>

    <slot name="description" />
  </div>
</section>
