---
import { cn } from "@/utils/utils";

type Props = { className?: string };

const { className } = Astro.props;
---

<div
  class={cn(
    "mx-auto grid max-w-4xl grid-cols-1 gap-4 md:auto-rows-fr",
    className
  )}
>
  <slot />
</div>
