---
import { Separator } from "@/components/ui/separator";
---

<div
  class="min-w-dvw relative min-h-dvh bg-zinc-50 p-8 font-sans antialiased transition-colors dark:bg-zinc-900"
>
  <div class="mx-auto min-w-80 lg:max-w-5xl">
    <header>
      <span>navbar here</span>
    </header>

    <Separator className="my-4" />

    <main class="mb-40">
      <slot />
    </main>

    <footer class="absolute inset-x-8 bottom-8 mx-auto min-w-80 lg:max-w-5xl">
      <span>footer</span>
    </footer>
  </div>
</div>
